@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 400;
	background-color: #696969;
	text-align: center;
}

h1{
	color: #66bbff;
}

#fone_ddd_cad {
  max-width: 35px;
}

#fone_numero_cad{
	max-width: 70px;
}

#fone_tipo_cad{
	max-width: 75px;
}



.bt_01{
	text-decoration: none;
	background-color: #F0FFFF;
	padding: 5px 10px 5px 10px;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 5px;
	color: #000;
	border: 0;
	cursor: pointer;
}


#cadastro{
  position: absolute;
  top: 0px;
  width: 88%;   
  padding: 18px 6% 60px 6%;
  margin: 0 0 35px 0;
  background: #f7f7f7;
  border: 1px solid rgba(147, 184, 189,0.8);
  border-radius: 5px;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}
